body{
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: white;
    font-family: 'karla', sans-serif;
    
}
main{
    margin: 10% 18% 0 18%;
}
span{
    color: #4ADF86;
    font-weight: 800;
}
p{
    font-weight: 250;
    color: #D5D4D8;
    margin-top: -10px;
}
button{
    
    margin-top: 50px;
    padding: 10px 15px;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
}
#container{

    border-top: 2px solid #2F3E53;
    display: flex;
    justify-content: space-evenly;
    

}
#left-side{
    margin-top: 50px;
    padding: 10px 50px;
    color: #55F991;
    background-color: #2F3E53;
    border-radius: 5px;
    width: 150px;
    height: 20px;
}
#right-side{
    margin-top: 50px;
    padding: 10px 50px;
    color: #55F991;
    background-color: #2F3E53;
    border-radius: 5px;
    width: 150px;
    height: 20px;
}